

/* LOGIN */
/* .signin{

   height:60vh;
  width: 55%; 
  background-color: rgb(223, 228, 233);
  border-radius: 1rem;
  margin: 2rem auto;
  box-shadow: 0.5rem 0.5rem 2rem -0.5rem white;
  display: flex;
   justify-content: center;
  align-items: center; 

} */
/* .main-div{
  background-color: gray;
  margin: 0;
  padding: 0%;

}
.left-login{
  width: 3/5px ;
  padding: 13rem;
  background-color: whitesmoke;
  border: round top left;

} */

nav{
  display: flex;
  align-items:center ;
  justify-content:space-between ;
  background: black;
  padding: 20px 80px ;
  height: 10vh;


}

 #navbar{
display: flex;
align-items: center;
justify-content: center;

}
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;

} 

#navbar li a{
  text-decoration: none;
  color: aliceblue;
  font-size: 1.3rem;
  padding: 0 20px;
  font-weight: 600;

}

#navbar li a:hover{
  color: orange;
}

